SHINHAN_APP_KEY=YOUR_APP_KEY
SHINHAN_APP_SECRET=YOUR_APP_SECRET
SHINHAN_ACCOUNT_NO=YOUR_ACCOUNT
SHINHAN_ACCOUNT_PW=YOUR_ACCOUNT_PW_IF_NEEDED
# 해외 거래 시 필요한 값이 있으면 추가

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
